# Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import io
import requests
from datetime import datetime, timedelta
import numpy as np

# Load CSV Files
* Total Cases

In [2]:
s0=requests.get('https://covid.ourworldindata.org/data/ecdc/total_cases.csv').content
total_cases = pd.read_csv(io.StringIO(s0.decode('utf-8'))).set_index('date')
total_cases.columns.name='Country/Region'
total_cases.tail()

Country/Region,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,United States,United States Virgin Islands,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-03-25,417061,42.0,123.0,231.0,164.0,2.0,NaN,3.0,387.0,265.0,...,8077,55231,17.0,189.0,55.0,1.0,91.0,134.0,3.0,2.0
2020-03-26,468284,75.0,146.0,264.0,188.0,2.0,NaN,3.0,502.0,290.0,...,9529,69194,17.0,217.0,65.0,1.0,106.0,148.0,12.0,3.0
2020-03-27,528019,75.0,174.0,305.0,224.0,3.0,2.0,7.0,589.0,329.0,...,11658,85991,17.0,238.0,83.0,5.0,107.0,153.0,14.0,3.0
2020-03-28,591971,91.0,186.0,305.0,267.0,4.0,2.0,7.0,690.0,372.0,...,14543,104686,19.0,238.0,104.0,5.0,119.0,169.0,16.0,5.0
2020-03-29,657140,106.0,197.0,409.0,308.0,4.0,2.0,7.0,745.0,424.0,...,17089,124665,22.0,304.0,133.0,6.0,119.0,223.0,28.0,7.0

* Total Deaths

In [3]:
s1=requests.get('https://covid.ourworldindata.org/data/ecdc/total_deaths.csv').content
total_deaths = pd.read_csv(io.StringIO(s1.decode('utf-8'))).set_index('date')
total_deaths.columns.name='Country/Region'
total_deaths.tail()

Country/Region,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,United States,United States Virgin Islands,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-03-25,18565,1.0,5.0,17.0,0.0,0.0,NaN,0.0,6.0,0.0,...,422,801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-03-26,20991,1.0,5.0,17.0,0.0,0.0,NaN,0.0,8.0,0.0,...,463,1050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2020-03-27,23672,1.0,6.0,21.0,3.0,0.0,0.0,0.0,12.0,1.0,...,578,1296,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2020-03-28,26990,2.0,9.0,21.0,3.0,0.0,0.0,0.0,17.0,1.0,...,759,1707,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2020-03-29,30451,3.0,10.0,26.0,4.0,0.0,0.0,0.0,19.0,3.0,...,1019,2191,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0

* Total Recovered

In [4]:
s2=requests.get('https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_recovered_global.csv&filename=time_series_covid19_recovered_global.csv').content
total_recovered_raw = pd.read_csv(io.StringIO(s2.decode('utf-8')))
tr = total_recovered_raw.drop(['Lat','Long'],axis=1).groupby('Country/Region').sum().transpose()
tr = tr.rename(columns={"US":"United States",'Korea, South':'South Korea'})
tr_idx = tr.index
tr_idx_formatted = [(datetime.strptime(idx,'%m/%d/%y').strftime('%Y-%m-%d')) for idx in tr_idx]
tr = tr.set_index([pd.Series(tr_idx_formatted)])
tr_sum = tr.sum(axis=1).to_frame()
tr_sum.columns={"World"}
total_recovered = pd.concat([tr, tr_sum.reindex(tr.index)], axis=1)
total_recovered.index.names=['date']
total_recovered.tail()

,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,United Arab Emirates,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Zambia,Zimbabwe,World
date,,,,,,,,,,,,,,,,,,,,,
2020-03-25,2,17,65,1,0,0,52,16,119,9,...,52,140,0,0,15,17,17,0,0,113787
2020-03-26,2,17,29,1,0,0,63,18,172,112,...,52,150,0,0,15,20,17,0,0,122150
2020-03-27,2,31,29,1,0,0,72,28,194,225,...,52,151,0,5,31,20,17,0,0,130915
2020-03-28,2,31,31,1,0,0,72,30,244,225,...,52,151,0,5,39,21,18,0,0,139415
2020-03-29,2,33,31,1,0,0,72,30,244,479,...,58,151,0,7,39,25,18,0,0,149082

# Select focused data
* List current top twenties countries and Singapore + Malaysia

In [5]:
today_str = datetime.utcnow().date().strftime('%Y-%m-%d')
yesterday_str = (datetime.utcnow().date()-timedelta(days=1)).strftime('%Y-%m-%d')
total_cases = total_cases.sort_values(by=today_str,axis=1,ascending=False)
total_deaths = total_deaths.sort_values(by=today_str,axis=1,ascending=False)
Top_20 = list(total_cases.columns[0:21])
Interested_countries = Top_20 + ['Singapore','Malaysia']
print('Interested_countries are : ', Interested_countries)

KeyError: '2020-03-30'

* Filter with only the interested countries

In [ ]:
IC_total_cases = total_cases[Interested_countries].fillna(method='ffill').fillna(0)
IC_total_deaths = total_deaths[Interested_countries].fillna(method='ffill').fillna(0)
IC_total_recovered = total_recovered[Interested_countries]

* Get growth rate tables

In [ ]:
IC_total_cases_rate = (IC_total_cases.diff(axis=0)/(IC_total_cases+100)*100).fillna(0)
IC_total_cases_rate.tail()

# Plot data

In [ ]:
for country in Interested_countries:
    plt.rcParams["figure.figsize"] = (20,5)
    fig, (ax1, ax2) = plt.subplots(2)    
    ax1.set_ylim([0,50])
    ax1.grid(color='b', linestyle='-.', linewidth=1)
    ax1.plot(list(IC_total_cases_rate[country]))   
    ax2.set_yscale('log')
    ls_IC_total_cases = list(IC_total_cases[country])
    ax2.plot(ls_IC_total_cases)
    ax2.grid(color='b', linestyle='-.', linewidth=1)
    ax2.set_ylim([0,10**(round(np.log10(max(ls_IC_total_cases)))+1)])
    fig.suptitle(country)

# Plot table

In [ ]:
last_day_rate = [IC_total_cases_rate[country][-1] for country in Interested_countries]
last_3days_rate = [IC_total_cases_rate[country][-3:-1].mean() for country in Interested_countries]
last_7days_rate = [IC_total_cases_rate[country][-7:-1].mean() for country in Interested_countries]
TotalCase = [IC_total_cases[country][-1] for country in Interested_countries]
TotalDeath = [IC_total_deaths[country][-1] for country in Interested_countries]
TotalRecovered = list(IC_total_recovered.loc[yesterday_str,:])
DeathRatio = [td/(tr+td)*100 for td, tr in zip(TotalDeath, TotalRecovered)]
Dropping = [l3<l7 for l3, l7 in zip(last_3days_rate, last_7days_rate)]


last_rate_dict = {'country':Interested_countries, 'Last day rate %':last_day_rate,'Last 3 days rate %':last_3days_rate, 
                  'Last 7 days rate %':last_7days_rate, 'TotalCase': TotalCase, 'TotalRecovered':TotalRecovered,
                  'TotalDeath': TotalDeath, 'DeathRatio %': DeathRatio, 'Dropping':Dropping}
pd.DataFrame.from_dict(last_rate_dict).set_index('country')